.main{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: max-content;
}

.results{
  width: 100%;
}

.searchTerm{
  margin: 12px 16px 32px;
}

input{
  padding: 12px 24px;
  background: none;
  outline: none;
  color: black;
  margin: 12px 24px 12px 0;
}

.inputRem{
  background: rgba(0,0,0,.9);
  color: white;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
}

.lanOpt{
  text-align: center;
  margin-bottom: 16px;
  display: flex;
}

.lanOpt p{
  margin-right: 24px;
}

.lanChange{
  padding: 16px 32px;
  background: none;
  color: black;
  font-weight: 600;
  outline: none;
  box-shadow: 1px 3px 8px rgba(0,0,0,.23);
  border: none;
}

@media screen and (max-width: 992px){
  .main{
    width: unset
  }
  .main h1{
    text-align: center;
  }
  .results{
    width: 90%;
    padding: 0 24px;
  }
}